@mixin simple-transition ($type, $speed) {

	-webkit-transition:$type $speed;
    -moz-transition:$type $speed;
    -o-transition:$type $speed;
    transition:$type $speed;
    behavior: url(../../../HTC/PIE/PIE.htc);
	
}