$shelter-yellow:	#F0B310;
$shelter-grey:		#333333;
$shelter-blue:		#33648A;
$shelter-red:		#ff0000;
$shelter-burnt:		#7B2101;

$dark-grey:			#555555;
$light-grey:		#cccccc;
$grey: 				#777777;

$green:				#309369;